div.divForm{
    margin-top: 3em;
    /* width: 500px;
    margin: auto; */
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.151) ;
}

.buttoni{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.divSex{
    display: inline-flex;
    border-radius: 5px;
}
.divSex label{
    background: white;
}

.size50{
    width: 50%;
    background: white;
}
.size50:hover{
    background: rgba(0, 0, 0, 0.151);
}
 